
<div class="banner-container">
  <div class="banner-image">
    <div class="banner-text">
      <h1>Superpower app banner</h1>
    </div>
  </div>
</div>

<div class="container">
  <% if !@superpowers.empty? %>
    <div class="card-grid">
      <% @superpowers.each do |superpower| %>
        <%= link_to superpower_path(superpower) do %>
          <%= render "superpowers/partials/card", :superpower => superpower%>
      <% end %>
    <% end %>

    </div>


  <% else %>
    <p>No Superpowers in the DB</p>


  <% end %>
</div>




