
<div class="banner-container">
  <div class="banner-image">
    <div class="banner-text">
      <h1>Superpower app banner</h1>
    </div>
  </div>
</div>

    <div class="container">
      <% if !@superpowers.empty? %>
        <div class="row">

          <% @superpowers.each do |superpower| %>
            <div class="col-4 ">
              <%= render "superpowers/partials/card", :superpower => superpower%>
              <div>Superpower id: <%= superpower.id %> | Name: <%= !superpower.name.nil? ? superpower.name : 'n/a' %>
                <%= link_to "View", superpower_path(superpower)  %>
              </div>
            </div>
          <% end %>

<% else %>
  <p>No Superpowers in the DB</p>

      </div>
    </div>

    <% end %>


