
<div class="banner-container">
  <div class="banner-image">
    <div class="banner-text">
      <h1>Superpower app banner</h1>
    </div>
  </div>
</div>

    <div class="container">
      <% if !@superpowers.empty? %>
        <div class="row">
        <% @superpowers.each do |superpower| %>
            <div class="col-4 mb-4 ">
              <%= link_to superpower_path(superpower) do %>
              <%= render "superpowers/partials/card", :superpower => superpower%>
              <% end %>
            </div>
          <% end %>

<% else %>
  <p>No Superpowers in the DB</p>

      </div>
    </div>

    <% end %>


