<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="eula-modal" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Superpower EULA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="eula-cross" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        With great powers comes great responsibility. Be aware that by booking this superpower
        you take the sole responsibility of any negative consequences associated with exercising this superpower.
        <br>
        <br>
        However if you gain any monetary value from exercising this superpower we reserve the right to collect up to 30%. Any other positive consequences will be evaluated on a case by case basis.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
