<h4>Category icons for reference</h4>
<ul>
  <% Dir.glob("#{Rails.root}/app/assets/images/categories/*") do |icon| %>
      <li><%= image_tag "/assets/images/categories/#{File.basename(icon)}" %>
      </li>
  <% end %>
</ul>

<div class="card-container">
  <div class="card-img" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%), url('https://www.placecage.com/g/155/300')">
     <div class="category-container">
        <%= image_tag ("categories/fingering.png") %>
       <p> Utilities </p>
    </div>
    <div class="card-price">
      <p>500 DKK <span> / DAY</span> </p>
    </div>
  </div>
  <div class="card-text">
    <h3> X-ray Vision </h3>
    </div>
</div>
