#canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: transparent;
  background-image: asset-url('bg_drammatic.jpg');
  background-size: cover;
  z-index: 10;
  overflow-y: hidden;
  overflow-x: hidden;

  #battlescene {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 20;

    #left {
      position: absolute;
      height: 100%;
      width: 0%;
      left: 0;
      top: 0;
      background-color: transparent;
      z-index: 30;
      border-right: 2.5px solid black;
    }

    #right {
      position: absolute;
      height: 100%;
      width: 0%;
      right: 0;
      top: 0;
      background-color: transparent;
      z-index: 30;
      border-left: 2.5px solid black;
    }

    #vs-icon {
      position: absolute;
      background-image: asset-url('battlescene/vs.png');
      background-size: contain;
      height: 200px;
      width: 200px;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: 40;
      opacity: 0;
    }

    #left img {
      position: absolute;
      right: 0;
      top: 20%;
      bottom: 0;
      margin: auto 0;
      border-radius: 20px 0 0 20px;
      border: 5px solid black;
      border-right: none
    }

    #right img {
      position: absolute;
      left: 0;
      top: -20%;
      bottom: 0;
      margin: auto 0;
      border-radius: 0 20px 20px 0;
      border: 5px solid black;
      border-left: none
    }
  }
}

#left-text {
  z-index: 100;
  position: absolute;
  color: white;
  right: 10%;
  top: 25%;
  bottom: 0;
  margin: auto 0;
}

#right-text {
  z-index: 100;
  position: absolute;
  color: white;
  left: 10%;
  bottom: 0;
  top: 65%;
  margin: auto 0;
}

.hidden {
  display: none;
}

.blurred-background {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: filter 0.3s ease-in;
}

.rightHalfScreen {
  animation: halfScreen 0.5s cubic-bezier(.75,.1,.39,1.43);
  animation-fill-mode: forwards;
}

.leftHalfScreen {
  animation: halfScreen 0.5s cubic-bezier(.75,.1,.39,1.43);
  animation-fill-mode: forwards;
}

@keyframes halfScreen {
  0%   { width: 0%; }
  100% { width: 50%; }
}

.dropDown {
  animation: dropDown 0.5s cubic-bezier(.75,.1,.39,1.43) 0.3s;
  animation-fill-mode: forwards;
}


@keyframes dropDown {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(calc((100vh / 2) - 100px));
    opacity: 1;
  }
}



#end-game-canvas {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  overflow-y: hidden;
  overflow-x: hidden;
}

#score {
  // border: 2px solid white;
  width: 40%;
  height: auto;
  color: white;
  margin: 0 auto;
  font-size: 100px;
  font-family: 'Carter One', cursive;
  text-align: center;
}





